/**
 * 作者: 郭天琦
 * 创建时间: 2017/06/19
 * 版本: [1.0, 2017/06/19 ]
 * 版权: 江苏国泰新点软件有限公司
 * 描述:  地区选人
 */

.em-addrselect {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	height: 370px;
	z-index: 99;
	background-color: #fff;
	animation: startfade .5s 1;
}

#em-mask {
	animation: startfade .5s 1;
}

@keyframes startfade {
	from {
		opacity: .1;
	}
	
	to {
		opacity: 1;
	}
}

.em-province-area,
.em-city-area {
	position: absolute;
	top: 0;
	bottom: 0;
	width: auto;
	border-bottom: 1px solid #d9d9d9;
}

.em-province-area {
	left: 0;
	width: 110px;
	text-align: center;
	background-color: #fafafa;
}

.em-city-area {
	left: 110px;
	right: 0;
	text-align: left;
}

.em-list-item {
	height: 44px;
	line-height: 44px;
	color: #666;
	font-size: .90rem;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

.em-city-list li {
	padding-left: 35px;
}

.em-city-list.cur li:first-child:before,
.em-city-list li.cur:before {
	font-family: Muiicons;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
	content: '\e472';
	background-color: #0062cc;
    border-radius: 50%;
    color: #fff;
    margin-left: -24px;
    margin-right: 6px;
}

.em-city-list.cur li:first-child {
	color: #0062cc;	
}

.em-list-item.cur {
	background-color: #fff;
	color: #0062cc;
}