/**
 * 微信小程序的皮肤
 */


@-webkit-keyframes ball-beat {
    50% {
        opacity: 1;
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    100% {
        opacity: 0.3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes ball-beat {
    50% {
        opacity: 1;
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    100% {
        opacity: 0.3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.ball-beat > div {
    opacity: 0.3;
    background-color: #444444;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin: 2px;
    display: inline-block;
}

.loading .ball-beat div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: ball-beat 1s 0s infinite linear;
    animation: ball-beat 1s 0s infinite linear;
}

.loading .ball-beat > div:nth-child(2) {
    -webkit-animation-delay: 0.3s !important;
    animation-delay: 0.3s !important;
}

.loading .ball-beat > div:nth-child(3) {
    -webkit-animation-delay: 0.6s !important;
    animation-delay: 0.6s !important;
}


.minirefresh-skin-applet .minirefresh-downwrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
}

.minirefresh-skin-applet .minirefresh-downwrap .downwrap-content {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.minirefresh-skin-applet .minirefresh-upwrap {
    min-height: 30px;
    padding: 15px 0;
    text-align: center;
}

.minirefresh-skin-applet .minirefresh-upwrap .upwrap-progress {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid gray;
    margin-right: 8px;
    border-bottom-color: transparent;
    vertical-align: middle;
}


.minirefresh-skin-applet .minirefresh-upwrap .upwrap-tips {
    display: inline-block;
    font-size: 12px;
    color: gray;
    vertical-align: middle;
}